<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Personal Restaurant Reviewer</title>
    </head>
    <body>
        <div class="container">
            <h1>Food for Your FaceHole</h1>
            <h2>Yum yum's for your tum tum's</h2>

            {% if cuisines is not empty %}
                <p>What do you feel like eating?  Click on a cuisine to find venues!</p>
                <ul>
                    {% for cuisine in cuisines %}
                        <li><a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getType }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No cuisines have been added.</p>
            {% endif %}

            <form action="/form_cuisines">
                <button type="submit" class="btn btn-primary">Add new cuisine</button>
            </form>


        {% if form_check == true %}
            <form action="/add_cuisine" method="post">
                <div class="form-group">
                    <label for="type">Cuisine type:</label>
                    <input id ="type" type="text" name="type" required>
                </div>
                <button type="submit" class="btn btn-success">Add cuisine</button>
            </form>

        {% endif %}

            <form action="/delete_cuisines" method="post">
                <button type="submit" class = "btn btn-danger">Delete all cuisines</button>
            </form>
        </div>
    </body>
</html>
